/*****----- Configuration -----*****/
configuration {
    modi:                       "drun,filebrowser";
    show-icons:                 true;
    display-drun:               "";
    display-filebrowser:        "";
    drun-display-format:        "{name}";
    window-format:              "{w} · {c} · {t}";
}

/*****----- Global Properties -----*****/
* {
    font:                        "Noto Sans 11";
    background:                  #11111bE4;
    background-alt:              #11111bE4;
    foreground:                  #eeeeee;
    subtext:                     #9399b2;
    selected:                    #eba0ac;
    active:                      #b4befe;
    urgent:                      #f38ba8;
}

/*****----- Main Window -----*****/
window {
    transparency:                "real";
    location:                    west;
    anchor:                      west;
    fullscreen:                  false;
    width:                       500px;
    height:                      98.5%;
    x-offset:                    8px;
    y-offset:                    0px;
    border:                      2px;
    border-color:                @active;
    enabled:                     true;
    border-radius:               0px;
    cursor:                      "default";
    background-color:            @background;
}

/*****----- Main Box -----*****/
mainbox {
    enabled:                     true;
    spacing:                     0px;
    background-color:            transparent;
    orientation:                 vertical;
    children:                    [ "inputbar", "listbox", "mode-switcher" ];
}

/*****----- List Box -----*****/
listbox {
    spacing:                     20px;
    padding:                     20px;
    background-color:            transparent;
    orientation:                 vertical;
    children:                    [ "message", "listview" ];
}

/*****----- Input Bar -----*****/
inputbar {
    enabled:                     true;
    spacing:                     10px;
    padding:                     80px 60px 160px;
    background-color:            transparent;
    background-image:            url("/home/nyx/.cache/wall_cache/menu_icon/rofi.png", width);
    text-color:                  @foreground;
    orientation:                 horizontal;
    children:                    ["entry" ];
}

entry {
    enabled:                     true;
    expand:                      true;
    padding:                     16px 20px;
    border:                      0px;
    background-color:            @background;
    text-color:                  @subtext;
    cursor:                      text;
    placeholder:                 "Launch Apps  󱓞 ";
    placeholder-color:           inherit;
}

/*****----- Mode Switcher -----*****/
mode-switcher {
    enabled:                     true;
    padding:                     15px;
    spacing:                     10px;
    background-color:            transparent;
    text-color:                  @foreground;
}

button {
    padding:                     12px;
    background-color:            transparent;
    text-color:                  inherit;
    cursor:                      pointer;
}

button selected {
    background-color:            @selected;
    text-color:                  @background;
}

/*****----- List View -----*****/
listview {
    enabled:                     true;
    columns:                     1;
    lines:                       10;
    cycle:                       true;
    dynamic:                     true;
    scrollbar:                   false;
    layout:                      vertical;
    reverse:                     false;
    fixed-height:                true;
    fixed-columns:               true;
    spacing:                     10px;
    background-color:            transparent;
    text-color:                  @foreground;
    cursor:                      "default";
}

/*****----- Elements -----*****/
element {
    enabled:                     true;
    spacing:                     10px;
    padding:                     8px;
    background-color:            transparent;
    text-color:                  @foreground;
    cursor:                      pointer;
}

element normal.normal {
    background-color:            inherit;
    text-color:                  inherit;
}

element normal.active {
    background-color:            @active;
    text-color:                  @background;
}

element normal.urgent {
    background-color:            @urgent;
    text-color:                  @background;
}

element selected.normal {
    background-color:            @active;
    text-color:                  @background;
}

element selected.urgent {
    background-color:            @urgent;
    text-color:                  @background;
}

element-icon {
    background-color:            transparent;
    text-color:                  inherit;
    size:                        32px;
    cursor:                      inherit;
}

element-text {
    background-color:            transparent;
    text-color:                  inherit;
    cursor:                      inherit;
    vertical-align:              0.5;
    horizontal-align:            0.0;
}

/*****----- Message -----*****/
message {
    background-color:            transparent;
}

textbox {
    padding:                     12px;
    background-color:            @background;
    text-color:                  @foreground;
}

error-message {
    padding:                     12px;
    background-color:            @background;
    text-color:                  @urgent;
}
