@import url('https://refact0r.github.io/midnight-discord/build/midnight.css');

:root {
    --colors: on;

    --text-0: #0b0b14;
    --text-1: #cdd6f4;
    --text-2: #bac2de;
    --text-3: #a6adc8;
    --text-4: #7f849c;
    --text-5: #6c7086;

    --bg-1: #11111b;
    --bg-2: #11111b;
    --bg-3: #080814;
    --bg-4: #080814;

    --background-primary: #11111b;
    --background-secondary: #11111b;
    --background-tertiary: #11111b;
    --background-floating: #11111b;

    --hover: rgba(180, 190, 254, 0.06);
    --active: rgba(180, 190, 254, 0.14);
    --active-2: rgba(180, 190, 254, 0.22);
    --message-hover: rgba(0, 0, 0, 0.22);

    --accent-1: #89b4fa;
    --accent-2: #b4befe;
    --accent-3: #f5c2e7;
    --accent-4: #cba6f7;
    --accent-new: #f38ba8;

    --mention: rgba(180, 190, 254, 0.22);
    --mention-hover: rgba(180, 190, 254, 0.32);
    --reply: rgba(166, 173, 200, 0.22);
    --reply-hover: rgba(166, 173, 200, 0.32);

    --online: #a6e3a1;
    --idle: #f9e2af;
    --dnd: #f38ba8;
    --streaming: #cba6f7;
    --offline: #6c7086;

    --border-light: rgba(205, 214, 244, 0.05);
    --border: rgba(205, 214, 244, 0.1);
    --border-hover: rgba(180, 190, 254, 0.3);
    --button-border: rgba(205, 214, 244, 0.08);
}

body {
    --radius-xs: 0px;
    --radius-sm: 0px;
    --radius-md: 0px;
    --radius-lg: 0px;
    --radius-xl: 0px;

    --font: 'Noto Sans';
    --code-font: 'FiraCode Nerd Font';
    font-weight: 400;

    --gap: 10px;
    --divider-thickness: 2px;
    --border-thickness: 1px;

    --animations: on;
    --list-item-transition: 0.2s ease;
    --dms-icon-svg-transition: 0.4s ease;
    --border-hover-transition: 0.2s ease;

    --top-bar-height: var(--gap);
    --top-bar-button-position: titlebar;
    --top-bar-title-position: off;
    --subtle-top-bar-title: on;

    --custom-window-controls: on;
    --window-control-size: 14px;

    --custom-dms-icon: off;

    --background-image: off;
    --transparency-tweaks: off;
    --remove-bg-layer: off;
    --panel-blur: off;
    --blur-amount: 0px;
    --bg-floating: var(--bg-3);

    --custom-chatbar: on;
    --chatbar-height: 47px;

    --small-user-panel: on;
}
