[Desktop Entry]
Name[af]=GNOME se Oog
Name[ar]=عين جنوم
Name[be]=Вока GNOME
Name[be@latin]=Voka GNOME
Name[bn]=জিনোমের চোখ
Name[bn_IN]=Image Viewer
Name[br]=Lagad GNOME
Name[ca]=Image Viewer
Name[ca@valencia]=Image Viewer
Name[ckb]=چاوی گنۆم
Name[cs]=Image Viewer
Name[cy]=EOG ('Image Viewer)
Name[de]=Image Viewer
Name[dz]=ཨའི་ཨོཕ་ཇི་ནོམ།
Name[en@shaw]=𐑲 𐑝 ·𐑜𐑯𐑴𐑥
Name[eo]=Okulo de GNOME
Name[es]=Image Viewer
Name[eu]=GNOMEren Begia
Name[fa]=چشم گنوم
Name[fi]=Eye of Gnome
Name[fr]=Visionneur d’images
Name[fy]=Image Viewer
Name[gd]=Image Viewer
Name[gl]=Visor de imaxes
Name[he]=העין של GNOME
Name[hi]=गनोम की आँख
Name[hu]=GNOME szeme
Name[id]=Image Viewer
Name[is]=Image Viewer myndarýnir
Name[ja]=Image Viewer
Name[ka]=Image Viewer
Name[kk]=GNOME көзі
Name[ks]=गनोमच अच्छ
Name[ku]=Çavê GNOME'yê
Name[lt]=Image Viewer
Name[lv]=Image Viewer
Name[mai]=गनोम क' आँखि
Name[mg]=Image Viewer
Name[mjw]=Image Viewer
Name[ml]=ഗ്നോം മിഴി
Name[ms]=Image Viewer
Name[nds]=Image Viewer
Name[nl]=Image Viewer
Name[nn]=Image Viewer
Name[nso]=Leihlo la GNOME
Name[or]=ନୋମର ଆଖି
Name[pa]=ਗਨੋਮ ਦੀ ਅੱਖ
Name[pl]=Image Viewer
Name[ps]=د جنومي سترګه
Name[pt]=Olho do GNOME
Name[pt_BR]=Olho do GNOME
Name[ro]=Ochiul lui GNOME
Name[ru]=Глаз GNOME
Name[si]=GNOME ඇස
Name[sk]=Oko prostredia GNOME
Name[sl]=Oko GNOME
Name[sq]=Image Viewer
Name[sr@latin]=Gnomovo oko
Name[sv]=Image Viewer
Name[th]=ดวงตา GNOME
Name[tr]=GNOME’un Gözü
Name[uk]=Око GNOME
Name[uz]=GNOME'ning koʻzi
Name[uz@cyrillic]=GNOME'нинг кўзи
Name[wa]=Eye of Gnome
Name[zh_CN]=GNOME 之眼
Name[zh_TW]=GNOME 之眼
Name[zu]=i-Image Viewer
Name=Image Viewer
Comment[af]=Vertoon en roteer beelde
Comment[an]=Examine y chire imachens
Comment[ar]=تصفح و أدر الصور
Comment[as]=ছবি ব্ৰাউছ কৰক আৰু ঘুৰাওক
Comment[ast]=Restola y voltia imáxenes
Comment[be]=Агляд і паварот выяў
Comment[be@latin]=Ahladaj i pavaročvaj vyjavy
Comment[bg]=Преглед и завъртане на изображения
Comment[bn]=ছবি ব্রাউজ করুন এবং চক্রাকারে ঘোরান
Comment[bn_IN]=ছবি ব্রাউজ করুন ও ঘুরিয়ে নিন
Comment[bs]=Pregledaj i izvrni slike
Comment[ca]=Navegueu per imatges i gireu-les
Comment[ca@valencia]=Navegueu per imatges i gireu-les
Comment[ckb]=بینین و سوڕانەوەی وێنە
Comment[cs]=Procházení a otáčení obrázků
Comment[da]=Gennemse og rotér billeder
Comment[de]=Bilder betrachten und drehen
Comment[dz]=གཟུགས་བརྙན་ཚུ་ བརྡ་འཚོལ་འབད་དེ་བསྒྱིར་
Comment[el]=Περιηγηθείτε και περιστρέψτε εικόνες
Comment[en_CA]=Browse and rotate images
Comment[en_GB]=Browse and rotate images
Comment[en@shaw]=𐑚𐑮𐑬𐑟 𐑯 𐑮𐑴𐑑𐑱𐑑 𐑦𐑥𐑦𐑡𐑩𐑟
Comment[eo]=Foliumi kaj turni bildojn
Comment[es]=Examine y rote imágenes
Comment[et]=Piltide sirvimine ja pööramine
Comment[eu]=Arakatu eta biratu irudiak
Comment[fa]=مرور و چرخاندن تصویر
Comment[fi]=Selaa ja kierrä kuvia
Comment[fr]=Parcourir et pivoter les images
Comment[fur]=Sgarfe e zire imagjins
Comment[fy]=Bleaderje en draaie ôfbylingen
Comment[ga]=Brabhsáil agus rothlaigh íomhánna
Comment[gd]=Brabhsaich is cuairtich dealbhan
Comment[gl]=Ver e rotar imaxes
Comment[gu]=ચિત્રો શોધો અને ફેરવો
Comment[he]=צפייה וסיבוב של תמונות
Comment[hi]=छवियां देखें और घुमाएं
Comment[hr]=Pregledajte i zakrenite slike
Comment[hu]=Képek böngészése és forgatása
Comment[id]=Ramban dan putar gambar
Comment[ie]=Demonstrar e rotar images
Comment[is]=Skoða og snúa myndum
Comment[it]=Sfoglia e ruota le immagini
Comment[ja]=画像の閲覧や向きの調整をします
Comment[ka]=გამოსახულების დათვალიერება და მობრუნება
Comment[kk]=Суреттерді шолу және бұру
Comment[km]=រកមើល និង​បង្វិល​រូបភាព
Comment[kn]=ಚಿತ್ರಗಳನ್ನು ವೀಕ್ಷಿಸು ಹಾಗು ತಿರುಗಿಸು
Comment[ko]=이미지 살펴보기 및 회전
Comment[ks]=छांड त गुमाव फोटो
Comment[lt]=Naršyti ir vartyti paveikslėlius
Comment[lv]=Pārlūkot un pagriezt attēlus
Comment[mjw]=Arjan kelang-kiri pen parting
Comment[mk]=Разгледај и ротирај слики
Comment[ml]=ചിത്രങ്ങള്‍ കാണുകയും തിരിക്കുകയും ചെയ്യുക
Comment[mr]=प्रतिमाचे संचार व गोल फिरवा
Comment[ms]=Layar dan putar imej
Comment[nb]=Bla gjennom og roter bilder
Comment[nds]=Billers ankieken un dreihn
Comment[ne]=छविहरू ब्राउज गर्नुहोस् र घुमाउनुहोस्
Comment[nl]=Doorblader en roteer afbeeldingen
Comment[nn]=Bla gjennom og roter bilete
Comment[oc]=Percórrer e pivotar los imatges
Comment[or]=ପ୍ରତିଛବିକୁ ବ୍ରାଉଜ କରନ୍ତୁ ଏବଂ ଘୁରାନ୍ତୁ
Comment[pa]=ਝਲਕ ਅਤੇ ਚਿੱਤਰ ਘੁੰਮਾਓ
Comment[pl]=Przeglądanie i obracanie obrazów
Comment[ps]=انځورونه لټول او چورلول
Comment[pt]=Navegar e rodar imagens
Comment[pt_BR]=Navegue e gire imagens
Comment[ro]=Navighează și rotește imagini
Comment[ru]=Просмотр и вращение изображений
Comment[si]=පිළිඹිබු ගවේශනය කිරීම සහ කරකැවීම
Comment[sk]=Prehliada a otáča obrázky
Comment[sl]=Brskanje in obračanje slik
Comment[sq]=Shfleto dhe rrotullo figurat
Comment[sr]=Прегледајте и окрените слике
Comment[sr@latin]=Pregledajte i okrenite slike
Comment[sv]=Bläddra och rotera bilder
Comment[ta]=பிம்பங்களை உலாவு சுழற்று
Comment[te]=బొమ్మలను విహరించు మరియు తిప్పు
Comment[tg]=Тамошо ва даврзании тасвирҳо
Comment[th]=เรียกดูและหมุนรูป
Comment[tr]=Resimlere göz at ve döndür
Comment[ts]=Lavalava na ku hundzuluxa swifaniso
Comment[ug]=سۈرەتكە كۆز يۈگۈرت ۋە ئايلاندۇر
Comment[uk]=Перегляд та обертання зображень
Comment[uz]=Rasmni koʻrish va burish
Comment[uz@cyrillic]=Расмни кўриш ва буриш
Comment[vi]=Duyệt và xoay ảnh
Comment[xh]=Funda nje kwaye ujikajike umifanekiso
Comment[zh_CN]=浏览及旋转图像
Comment[zh_HK]=瀏覽及更改影像的方向
Comment[zh_TW]=瀏覽及更改影像的方向
Comment[zu]=Dlulisa amehlo bese ijikeleza isithombe
Comment=Browse and rotate images
TryExec=eog
Exec=eog %U
# TRANSLATORS: Do NOT translate or transliterate this text!
# This is an icon file name
Icon=viewnior
StartupNotify=true
Terminal=false
Type=Application
Categories=GNOME;GTK;Graphics;2DGraphics;RasterGraphics;Viewer;
X-GNOME-DocPath=eog/eog.xml
MimeType=image/bmp;image/gif;image/jpeg;image/jpg;image/jxl;image/pjpeg;image/png;image/tiff;image/webp;image/x-bmp;image/x-gray;image/x-icb;image/x-ico;image/x-png;image/x-portable-anymap;image/x-portable-bitmap;image/x-portable-graymap;image/x-portable-pixmap;image/x-xbitmap;image/x-xpixmap;image/x-pcx;image/svg+xml;image/svg+xml-compressed;image/vnd.wap.wbmp;image/x-icns;
# Extra keywords that can be used to search for eog in GNOME Shell and Unity
# TRANSLATORS: Search terms to find this application.
#              Do NOT translate or localize the semicolons!
#              The list MUST also end with a semicolon!
Keywords[ab]=Асахьа;Аслаид -шоу;аграфика
Keywords[af]=fotos;skyfievertoning;grafika;
Keywords[an]=Foto;Diapositivas;Graficos;
Keywords[ar]=صورة;رسوميات;عرض شرائح;
Keywords[as]=ছবি;স্লাইডশ্ব;গ্ৰাফিক্স;
Keywords[be]=Выява;Слайдшоу;Графіка;
Keywords[bg]=изображение;снимка;графика;картина;разглеждане;прожекция;picture;slideshow;graphics;eye;eog;
Keywords[bs]=Picture;Slideshow;Graphics;
Keywords[ca]=Fotografia;Diapositives;Gràfics;
Keywords[ca@valencia]=Fotografia;Diapositives;Gràfics;
Keywords[ckb]=Picture;Slideshow;Graphics;
Keywords[cs]=obrázek;fotka;promítání snímků;prezentace snímků;grafika;
Keywords[da]=Billede;Foto;Fotografi;Præsentation;Slideshow;Grafik;
Keywords[de]=Bild;Diaschau;Diashow;Grafik;
Keywords[el]=Εικόνα;Προβολή διαφανειών;Γραφικά;Picture;Slideshow;Graphics;
Keywords[en_GB]=Picture;Slideshow;Graphics;
Keywords[eo]=Bildo;Bildoprezento;Bilda prezento;Prezento;Grafiko;
Keywords[es]=Foto;Diapositivas;Gráficos;
Keywords[et]=Pilt;Foto;Slaidiesitlus;Graafika;
Keywords[eu]=Argazkia;aurkezpena;Grafikoak;
Keywords[fa]=عکس;نمایش اسلایدی;گرافیک;Picture;Slideshow;Graphics;
Keywords[fi]=Picture;Slideshow;Graphics;Kuva;Kuvaesitys;Grafiikka;
Keywords[fr]=Image;Diaporama;Graphiques;Photographie;
Keywords[fur]=Figure;Imagjin;Diapositive;Grafics;
Keywords[gd]=Dealbh;Taisbeanadh-shleamhnagan; Grafaigeachd;Picture;Slideshow;Graphics;
Keywords[gl]=Foto;Diapositivas;Gráficos;
Keywords[gu]=ચિત્ર;સ્લાઇડ શો;ગ્રાફિક;
Keywords[he]=תמונה;מצגת;גרפיקה;תמונות;
Keywords[hi]=चित्र;स्लाइडशो;चित्रोपमा;
Keywords[hr]=Slika;Prezentacija;Grafika;
Keywords[hu]=Kép;Diavetítés;Grafika;Bemutató;
Keywords[id]=Gambar;Salindia;Grafis;
Keywords[ie]=Image;Pictura;Exhibition;Demonstration;Graphica
Keywords[is]=Mynd;Skyggnusýning;Myndefni;
Keywords[it]=Immagini;Diapositive;Grafica;
Keywords[ja]=Picture;Slideshow;Graphics;写真;画像;スライドショー;グラフィックス;ImageViewer;
Keywords[ka]=Picture;Slideshow;Graphics;
Keywords[kk]=Picture;Slideshow;Graphics;Сурет;Слайдшоу;Графика;
Keywords[km]=ការ​បញ្ចាំង​ស្លាយ;
Keywords[kn]=ಚಿತ್ರ;ಜಾರುಫಲಕಪ್ರದರ್ಶನ;ಗ್ರಾಫಿಕ್ಸ್;
Keywords[ko]=Picture;그림;사진;이미지;Slideshow;슬라이드쇼;Graphics;그래픽;
Keywords[lt]=Paveikslėlis;Demonstracija;Skaidrės;Grafika;
Keywords[lv]=Attēli;Bildes;Slīdrāde;Slaidrāde;Grafika;Fotogrāfijas;
Keywords[mjw]=Picture;Slideshow;Graphics;
Keywords[ml]=ചിത്രം;സ്ലൈഡ്ഷോ;ഗ്രാഫിക്സ്;
Keywords[mr]=Picture;Slideshow;Graphics;
Keywords[ms]=Gambar;Paparan Slaid;Grafik;
Keywords[nb]=Bilde;Lysbilder;Grafikk;
Keywords[ne]=तस्वीर; स्लाइड शो; ग्राफिक्स;
Keywords[nl]=Picture;Slideshow;Graphics;Afbeelding;Diavoorstelling;Grafisch;Foto;
Keywords[oc]=Imatge ;Diaporama;Grafics;Fotografia;
Keywords[pa]=ਤਸਵੀਰ;ਫੋਟੋ,ਸਲਾਈਡ-ਸ਼ੋ;ਗਰਾਫਿਕਸ;
Keywords[pl]=Obraz;Obrazek;Pokaz;slajdów;Grafika;Przeglądarka;Zdjęcie;Zdjęcia;Fotografia;Fotografie;
Keywords[pt]=Imagem;Apresentação;Diapositivo;Gráficos;
Keywords[pt_BR]=Fotos;Apresentação de slides;Gráficos;
Keywords[ro]=Picture;Slideshow;Graphics;Imagine;Fotografie;Grafică;Prezentare;Diapozitive;
Keywords[ru]=Изображение;Слайд-шоу;Графика;
Keywords[sk]=Obrázok;Prezentácia;Grafika;Prehliadanie;
Keywords[sl]=Slike;Predstavitev;Grafika;Fotografije;oko;eog;
Keywords[sr]=Picture;Slideshow;Graphics;слика;покретни приказ;графика;слајдшоу;
Keywords[sr@latin]=slika;pokretni prikaz;grafika;slajdšou;
Keywords[sv]=Bild;Bildspel;Grafik;
Keywords[ta]=படங்கள்;லைட்ஷோ;வரகலை;
Keywords[te]=చిత్రం;పలకప్రదర్శన;చిత్రరూపాలు;
Keywords[tg]=Тасвир;Намоиши слайдҳо;Графика;
Keywords[th]=รูป;ภาพ;สไลด์;กราฟิกส์;
Keywords[tr]=Resim;Slayt Gösterisi;Grafikler;Görseller;
Keywords[ug]=Picture;Slideshow;Graphics;سۈرەت;تام تەسۋىر;گرافىك;
Keywords[uk]=Малюнок;Слайд;Графіки;
Keywords[vi]=Picture;Hình;ảnh;Hinh;Anh;Slideshow;Trình;diễn;Trinh;Dien;Graphics;Đồ;họa;họa;Do;Hoa;
Keywords[zh_CN]=Picture;Slideshow;Graphics;图片;幻灯片;图像;
Keywords[zh_HK]=Picture;Slideshow;Graphics;照片;投影片;影像;
Keywords[zh_TW]=Picture;Slideshow;Graphics;相片;投影片;影像;圖片;
Keywords=Picture;Slideshow;Graphics;
